@model IList<Categoria>
<partial name="_Titulo"/>
@section Scripts
{
  <script language="javascript">
    function setDelete(id) {

        idParaDeletar = id;    

    };

    function deletaProduto() {
        window.location.replace("/Categoria/Delete/" + idParaDeletar);
    }
  </script>
}

<div class="card rounded shadow-sm p-3">
    <form asp-controller="Categoria" asp-action="List" method="get">
        <div class="row mb-3">
       
            <div class="form-group col-md-12">
                <div class="input-group ">
                    <div class="input-group-prepend">
                    <div class="input-group-text">Filtro</div>
                    </div>
                    <input type="text" class="form-control " 
                            placeholder="Pesquise Nome" 
                            asp-controller="Produto" 
                            asp-action="List" 
                            name="stringBuscaCategoria" 
                            id="stringBuscaCategoria" 
                            value="@ViewData["stringBuscaCategoria"]"
                     />
                     <a class="d-flex btn btn-outline-primary" asp-controller="Categoria" asp-action="Create">
                        <i class="fa fa-plus-circle"></i>
                        <b class="d-md-none d-sm-none d-xl-block"> Novo</b>
                    </a>
                </div>
            </div>      
       
                   
        </div>
    </form>
  <br>
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr> 
        <th class="d-sm-none  d-md-table-cell">Id</th>
        <th class="d-md-block  d-md-table-cell">Nome</th>
        <th  class="d-md-block  d-md-table-cell">Descrição</th>
        <th class="d-md-block  d-md-table-cell">Opções</th>
      </tr>
    </thead>
        @if(Model is not null)
        {
            <tbody >
            @foreach(var item in Model)
            {
                <tr >
                <td class="d-sm-none  d-md-table-cell">@item.Id</td>
                <td class="d-md-block  d-md-table-cell">@item.Nome</td>
                <td class="d-md-block  d-md-table-cell">@item.Descricao</td>               
                <td class="d-md-block o d-md-table-cell">
                    <a href="@Url.Action("Edit", new {id = item?.Id})" class="btn btn-primary btn-lg" >
                                        <i class="fa fa-edit" tooltip="Editar"></i></a>
                    <a  class="btn btn-danger btn-lg" onclick="setDelete(@item?.Id)"  data-bs-toggle="modal" data-bs-target="#confirmeDeleteModal">
                                        <i class="fa fa-trash" tooltip="Editar"></i></a>
                </td>
                </tr> 
            }
            </tbody>
        } else
        {
           <tfoot >
              <tr>
                <td colspan="8" class="text-center">
                  <h4>Nenuma Categria Cadastrada</h4>
                </td>
              </tr>
           </tfoot> 
        }
    
  </table>
</div>

<div class="modal fade" id="confirmeDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmeDeleteModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Atenção!</h5>
        
      </div>
      <div class="modal-body">
        Confirma a exclusao da categoria?
      </div>
      <div class="modal-footer">
        <button type="button" id="btnHideModal" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
        <button type="button" class="btn btn-primary" onclick="deletaProduto()">Sim</button>
      </div>
    </div>
  </div>
</div>

